.wrapper{
    border: 3px dotted yellow;
    width: 30%;
    height: 200px;
    padding:2px 10px;
    margin-right: 5px;
    display: inline-block;
    
}
.wrapper h2{
    text-align: center;
    background-color: green;
}
.head{
    text-align: center;
    font-variant: small-caps;
    color: #ffffff;
    background-color: green;
}
.pag{
    background-color: plum;
    color: #ffffff;
}

#ima img{
    height: 300px;
    width: 30%;
    border: 3px dashed palevioletred;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}
#images{
    height: 300px;
    width: 60%;
    margin-top: 5px;
    border: 3px solid yellow;
}